:root{
    --biru-tua: #201658;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    user-select: none;
    color: var(--biru-tua);
    font-family: 'Roboto', sans-serif;
}
img{
    pointer-events: none;
}
header{
    top: 0px;
    position:sticky;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap:100px;
    z-index: 999;
    background-color: #fff;
    scroll-padding-top: 70px;
}
header h1{
    margin:0;
    margin-left:100px;
    letter-spacing: 1px;
    font-size: 40px;
}
header li{
    display: flex;
    gap:40px;
}
header li a{
    font-size: 20px;
    text-decoration: none;
}
header li a:hover{
    color: red;
}
header li a.active{
    color: red;
}
main, section, #video{
    padding-top: 70px;
}

/* for skeleton */
.main-loading, .card-loading div,  .card-loading span,  .card-loading h3,  .card-loading p {
    background: linear-gradient(135deg, #b9b9b9 0%, #cdcdcd 52%, #fff 52%, #fff 54%, #cdcdcd 54%, #b9b9b9 100%);
    background-size: 180% 180%;
    background-position: 100% 100%;
    animation: 2.5s shine ease-in infinite;
    animation-delay: 0.25s;
}
@keyframes shine {
    to {
        background-position: 0% 0%;
    }
}
/* for img card */
.card-loading div{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 255px;
}
/* for date */
.card-loading span{
    width: 35%;
    margin-top: 20px;
    margin-left: 60%;
    height: 15px;
}
/* for header */
.card-loading h3,  .card-loading p{
    margin: 0px;
    position: relative;
}
.card-loading h3{
    left: 5%;
    width: 80%;
    height: 40px;
    margin-top: 19px;
}
/* for category */
.card-loading p{
    left: 5%;
    width: 30%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
main h1, main a, main h3, main p, main span{
    margin: 0px;
}
main a{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 2px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--biru-tua);
    margin-top:20px;
    width: 90%;
}
main a img{
    width: 25px;
    height: 25px;
}
main div{
    position: relative;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
main div h1{
    position: relative;
    text-align: center;
    width: 70%;
    left:50%;
    transform: translateX(-50%);
    font-size: 33px;
    font-weight: 800;
}
main div span.tanggal{
    position: relative;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin:0px;
}
/* for img main loading */
main div .main-loading{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    height: 600px;
    border-radius: 20px;
}
main div img{
    display: none;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    object-fit: cover;
    height: 60%;
    border-radius: 20px;
}
main div span{
    font-size: 22px;
    font-weight: 400;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top:50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
main div div{
    position: relative;
    left:50%;
    height:500px;
    transform: translateX(-50%);
    width: 90%;
}
main div div h3{
    font-size: 30px;
}
main div div iframe{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    margin-bottom: 20px;
}

section ul a:active{
    color: var(--biru-tua);
}
#rekomendasi{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
#rekomendasi div, #rekomendasi ul{
    display: flex;
}
#rekomendasi div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
#rekomendasi div h1, #rekomendasi div a{
    margin: 0px;
}
#rekomendasi div h1{
    font-size: 26px;
}
#rekomendasi div a{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--biru-tua);
}
#rekomendasi div a img{
    width: 25px;
    height: 25px;
}
#rekomendasi ul{
    margin: 0px;
    margin-top: 20px;
    gap:20px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:50px;
    display: flex;
}
#rekomendasi ul li{
    position: relative;
    display: flex;
    width:31%;
    left:0%;
    border-radius: 10px;
    background-color: #fff;
}
#rekomendasi ul li:not(:has(.card-loading)):hover {
    background-color: var(--biru-tua);
}
#rekomendasi ul li:hover span,
#rekomendasi ul li:hover h3,
#rekomendasi ul li:hover p{
    color: #fff;
}
#rekomendasi ul li .card-loading{
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#rekomendasi ul li a{
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
#rekomendasi ul li a img{
    object-fit: cover;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 60%;
}
#rekomendasi ul li a span.tanggal{
    width: 93%;
    text-align: right;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    right: 0px;
}
#rekomendasi ul li a h3, #rekomendasi ul li a p{
    margin: 0px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#rekomendasi ul li a h3{
    font-size: 20px;
    margin-top: 20px;
}
#rekomendasi ul li a p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: var(--biru-tua);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
@media screen and (min-width: 615px) and (max-width: 1000px) {
    #modalDelete form{
        height: 22%;
    }
    #modalDelete form h1{
        margin-top: 3%;
        font-size: 20px;
    }
    #modalDelete form i{
        right:4%;
        top:5%;
        font-size: 18px;
    }
    #modalDelete form p{
        margin-top: 1%;
        font-size: 13px;
    }
    #modalDelete form div{
        margin-top: 8%;
        width: 90%;
        height: 25%;
    }
    #modalDelete form div button{
        font-size: 17px;
    }
}
@media screen and (min-width: 400px) and (max-width: 615px) {
    #modalDelete form{
        height: 20%;
    }
    #modalDelete form h1{
        width: 80%;
        margin-top: 5%;
        font-size: 13px;
    }
    #modalDelete form i{
        right:5%;
        top:7%;
        font-size: 13px;
    }
    #modalDelete form p{
        width: 80%;
        margin-top: 2%;
        font-size: 11px;
    }
    #modalDelete form div{
        margin-top: 8%;
        width: 80%;
        height: 25%;
    }
    #modalDelete form div button{
        font-size: 11px;
        width: 30%;
        height: 90%;
    }
}
@media screen and (max-width: 400px) {
    #modalDelete form{
        height: 20%;
    }
    #modalDelete form h1{
        width: 80%;
        margin-top: 5%;
        font-size: 13px;
    }
    #modalDelete form i{
        right:5%;
        top:7%;
        font-size: 13px;
    }
    #modalDelete form p{
        width: 80%;
        margin-top: 2%;
        font-size: 11px;
    }
    #modalDelete form div{
        margin-top: 8%;
        width: 80%;
        height: 25%;
    }
    #modalDelete form div button{
        font-size: 11px;
        width: 30%;
        height: 90%;
    }
}