:root{
    --biru-tua: #201658;
    --abu-abu: #B7C9F2;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    user-select: none;
    color: var(--biru-tua);
    font-family: 'Roboto', sans-serif;
}
img{
    pointer-events: none;
}
a:link,
a:visited {
    color: var(--biru-tua);
    text-decoration: none;
}
header{
    top: 0px;
    position:sticky;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap:100px;
    z-index: 999;
    background-color: #fff;
    scroll-padding-top: 70px;
}
header h1{
    margin:0;
    margin-left:100px;
    letter-spacing: 1px;
    font-size: 40px;
}
header li{
    display: flex;
    gap:40px;
}
header li a{
    font-size: 20px;
    text-decoration: none;
}
header li a:hover{
    color: red;
}
header li a.active{
    color: red;
}
main, section, #video{
    padding-top: 70px;
}

/* for skeleton */
.main-loading, .card-loading div,  .card-loading span,  .card-loading h3,  .card-loading p {
    background: linear-gradient(135deg, #b9b9b9 0%, #cdcdcd 52%, #fff 52%, #fff 54%, #cdcdcd 54%, #b9b9b9 100%);
    background-size: 180% 180%;
    background-position: 100% 100%;
    animation: 2.5s shine ease-in infinite;
    animation-delay: 0.25s;
}
@keyframes shine {
    to {
        background-position: 0% 0%;
    }
}
/* for img card */
.card-loading div{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 255px;
}
/* for date */
.card-loading span{
    width: 35%;
    margin-top: 20px;
    margin-left: 60%;
    height: 15px;
}
/* for header */
.card-loading h3,  .card-loading p{
    margin: 0px;
    position: relative;
}
.card-loading h3{
    left: 5%;
    width: 80%;
    height: 40px;
    margin-top: 19px;
}
/* for category */
.card-loading p{
    left: 5%;
    width: 30%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
main h1, main a, main h3, main p, main span{
    margin: 0px;
}
main a{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 2px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--biru-tua);
    margin-top:20px;
    width: 90%;
}
main a img{
    width: 25px;
    height: 25px;
}
main div{
    position: relative;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
main div h1{
    position: relative;
    text-align: center;
    width: 70%;
    left:50%;
    transform: translateX(-50%);
    font-size: 33px;
    font-weight: 800;
}
main div span.tanggal{
    position: relative;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin:0px;
}
/* for img main loading */
main div .main-loading{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    height: 600px;
    border-radius: 20px;
}
main div img{
    display: none;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    object-fit: cover;
    height: 60%;
    border-radius: 20px;
}
main div span{
    font-size: 22px;
    font-weight: 400;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top:50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
main div div{
    position: relative;
    left:50%;
    height:500px;
    transform: translateX(-50%);
    width: 90%;
}
main div div h3{
    font-size: 30px;
}
main div div iframe{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

section ul a:active{
    color: var(--biru-tua);
}

#rekomendasi{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#rekomendasi div, #rekomendasi ul{
    display: flex;
}
#rekomendasi div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
#rekomendasi div h1, #rekomendasi div a{
    margin: 0px;
}
#rekomendasi div h1{
    font-size: 26px;
}
#rekomendasi div a{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--biru-tua);
}
#rekomendasi div a img{
    width: 25px;
    height: 25px;
}
#rekomendasi div select{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--biru-tua);
}
#rekomendasi ul{
    flex-wrap: wrap;
    margin: 0px;
    margin-top: 20px;
    gap:20px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;
}
#rekomendasi ul li{
    position: relative;
    display: flex;
    width:31%;
    left:0%;
    border-radius: 10px;
    background-color: #fff;
}
#rekomendasi ul li:has(.card-loading) span,
#rekomendasi ul li:has(.card-loading) h3,
#rekomendasi ul li:has(.card-loading) p{
    color: #fff;
}
#rekomendasi ul li:not(:has(.card-loading)):hover {
    background-color: var(--biru-tua);
}
#rekomendasi ul li:not(:has(.card-loading)):hover span,
#rekomendasi ul li:not(:has(.card-loading)):hover h3,
#rekomendasi ul li:not(:has(.card-loading)):hover p{
    color: #fff;
}
#rekomendasi ul li .card-loading{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}
/* for skeleton */
.card-loading div,  .card-loading span,  .card-loading h3,  .card-loading p {
    background: linear-gradient(135deg, #b9b9b9 0%, #cdcdcd 52%, #fff 52%, #fff 54%, #cdcdcd 54%, #b9b9b9 100%);
    background-size: 180% 180%;
    background-position: 100% 100%;
    animation: 2.5s shine ease-in infinite;
    animation-delay: 0.25s;
}
@keyframes shine {
    to {
        background-position: 0% 0%;
    }
}
/* for img */
.card-loading div{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 300px;
}
/* for date */
.card-loading span{
    position: relative;
    left: 55%;
    display: block;
    margin: 0px;
    width: 40%;
    height: 25px;
    margin-top: 15px;
    border-radius: 5px;
}
/* for header */
.card-loading h3{
    margin: 0px;
    position: relative;
    border-radius: 7px;
    left: 5%;
    width: 80%;
    height: 35px;
    margin-top: 20px;
}

#rekomendasi ul li a{
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    position: relative;;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
#rekomendasi ul li a img{
    object-fit: cover;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 300px;
}
#rekomendasi ul li a span.tanggal{
    width: 93%;
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    position: relative;
    right: 0px;
}
#rekomendasi ul li a h3{
    margin: 0px;
    position: relative;
    left: 5%;
    width: 70%;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: var(--biru-tua);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
@media screen and (min-width: 625px) and (max-width: 1000px) {
    header{
        height: 50px;
        gap:60px;
        scroll-padding-top: 50px;
    }
    header h1{
        margin-left: 70px;
        font-size: 30px;
    }
    header li{
        display: flex;
        gap:30px;
    }
    header li a{
        font-size: 18px;
    }
    main, section {
        padding-top: 50px;
    }

    main{
        width: 99%;
    }
    main a{
        gap: 2px;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        width: 90%;
    }
    main a img{
        width: 23px;
        height: 23px;
    }
    main div{
        gap: 15px;
    }
    main div h1{
        width: 70%;
        font-size: 28px;
        font-weight: 700;
    }
    main div span.tanggal{
        font-size: 18px;
        margin:0px;
    }
    /* for img main loading */
    main div .main-loading{
        width: 90%;
        height: 600px;
        border-radius: 20px;
    }
    main div img{
        width: 90%;
        height: 60%;
        border-radius: 20px;
    }
    main div span{
        font-size: 18px;
        font-weight: 400;
        margin-top:30px;
        width: 90%;
        gap:15px;
    }
    main div #video{
        margin-top: 0px;
        width: 90%;
        height:500px;
        padding-top: 0px;
    }
    main div div h3{
        font-size: 25px;
    }
    main div div iframe{
        width: 95%;
        height: 100%;
        margin-bottom: 20px;
    }

    /* for img */
    .card-loading div{
        margin-top: 15px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        width: 90%;
        height: 120px;
    }
    /* for date */
    .card-loading span{
        margin-top: 20px;
        height: 17px;
    }
    /* for header */
    .card-loading h3{
        width: 70%;
        margin-top: 12px;
    }
    #rekomendasi{
        margin-top: 20px;
        margin-bottom: 50px;
        height: 80vh;
    }
    #rekomendasi div h1{
        font-size: 20px;
    }
    #rekomendasi div select{
        gap: 5px;
        font-size: 16px;
    }
    #rekomendasi ul{
        margin-top: 10px;
    }
    #rekomendasi ul li a h3{
        left: 5%;
        transform: translateX(0%);
        width: 70%;
        font-size: 15px;
    }
    #rekomendasi ul li a span.tanggal{
        font-size: 15px;
    }
    #rekomendasi ul li a img{
        height: 120px;
    }
}
@media screen and (min-width: 400px) and (max-width: 625px) {
    header{
        height: 50px;
        gap:30px;
        scroll-padding-top: 50px;
    }
    header h1{
        margin-left: 25px;
        font-size: 30px;
    }
    header li{
        display: flex;
        gap:10px;
    }
    header li a{
        font-size: 15px;
    }
    main, section {
        padding-top: 50px;
    }

    main{
        width: 99%;
    }
    main a{
        gap: 2px;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        width: 90%;
    }
    main a img{
        width: 23px;
        height: 23px;
    }
    main div{
        gap: 12px;
    }
    main div h1{
        width: 70%;
        font-size: 28px;
        font-weight: 700;
    }
    main div span.tanggal{
        font-size: 18px;
        margin:0px;
    }
    /* for img main loading */
    main div .main-loading{
        width: 90%;
        height: 600px;
        border-radius: 20px;
    }
    main div img{
        width: 90%;
        height: 60%;
        border-radius: 12px;
    }
    main div span{
        font-size: 18px;
        font-weight: 400;
        margin-top:20px;
        width: 90%;
        gap:12px;
    }
    main div #video{
        margin-top: 0px;
        width: 90%;
        height:280px;
        padding-top: 0px;
    }
    main div div h3{
        font-size: 25px;
    }
    main div div iframe{
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        border-radius: 10px;
    }

    /* for img */
    .card-loading div{
        margin-top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 125px;
    }
    /* for date */
    .card-loading span{
        margin-top: 10px;
        height: 13px;
    }
    /* for header */
    .card-loading h3{
        width: 60%;
        height: 25px;
        margin-top: 15px;
        border-radius: 7px;
    }
    #rekomendasi{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #rekomendasi div h1{
        font-size: 20px;
    }
    #rekomendasi div select{
        gap: 5px;
        font-size: 15px;
    }
    #rekomendasi ul{
        width: 94%;
        padding: 0px;
        margin-top: 10px;
        gap:10px;
    }
    #rekomendasi ul li{
        width:47%;
    }
    #rekomendasi ul li a h3{
        left: 5%;
        transform: translateX(0%);
        width: 75%;
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    #rekomendasi ul li a span.tanggal{
        margin-top: 10px;
        font-size: 13px;
    }
    #rekomendasi ul li a img{
        height: 125px;
    }

    footer{
        height: 40px;
    }
    footer span{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    header{
        height: 30px;
        gap:12px;
        scroll-padding-top: 30px;
    }
    header h1{
        margin-left: 7px;
        font-size: 20px;
    }
    header li{
        display: flex;
        gap:6px;
    }
    header li a{
        font-size: 13px;
    }
    main, section {
        padding-top: 30px;
    }

    main{
        width: 100%;
    }
    main a{
        gap: 2px;
        font-size: 16px;
        font-weight: 600;
        margin-top:20px;
        width: 90%;
    }
    main a img{
        width: 18px;
        height: 18px;
    }
    main div{
        margin-top:20px;
        gap:10px;
    }
    main div h1{
        width: 80%;
        font-size: 23px;
        font-weight: 800;
    }
    main div span.tanggal{
        font-size: 16px;
        margin:0px;
    }
    /* for img main loading */
    main div .main-loading{
        width: 90%;
        height: 600px;
        border-radius: 20px;
    }
    main div img{
        width: 90%;
        height: 60%;
        border-radius: 20px;
    }
    main div span{
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
        width: 90%;
        gap:10px;
    }
    main div #video{
        margin-top: 0px;
        padding-top: 0px;
        width: 90%;
        height:200px;
    }
    main div div h3{
        font-size: 17px;
    }
    main div div iframe{
        width: 95%;
        height: 100%;
        margin-bottom: 20px;
        border-radius: 7px;
    }

    /* for img */
    .card-loading div{
        margin-top: 6px;
        border-radius: 6px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        width: 90%;
        height: 80px;
    }
    /* for date */
    .card-loading span{
        margin-top: 7px;
        height: 13px;
    }
    /* for header */
    .card-loading h3{
        border-radius: 7px;
        margin-top: 7px;
    }
    #rekomendasi div h1{
        font-size: 17px;
    }
    #rekomendasi div a{
        font-size: 13px;
    }
    #rekomendasi div a img{
        width: 14px;
        height: 14px;
    }
    #rekomendasi ul{
        width: 95%;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        gap:10px;
    }
    #rekomendasi ul li{
        width:47%;
        border-radius: 6px;
    }
    #rekomendasi ul li a img{
        margin-top: 6px;
        border-radius: 6px;
        height: 80px;
    }
    #rekomendasi ul li a h3{
        position: relative;
        left: 5%;
        transform: translateX(0%);
        width: 75%;
        margin-top: 7px;
        font-size: 11px;
        font-weight: 600;
    }
    #rekomendasi ul li a span.tanggal{
        margin-top: 7px;
        font-size: 10px;
    }
    #rekomendasi{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    footer{
        height: 25px;
    }
    footer span{
        font-size: 10px;
    }
}