:root{
    --biru-tua: #201658;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    user-select: none;
    color: var(--biru-tua);
    font-family: 'Roboto', sans-serif;
}
img{
    pointer-events: none;
}
header{
    top: 0px;
    position:sticky;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap:100px;
    z-index: 999;
    background-color: #fff;
    scroll-padding-top: 70px;
}
header h1{
    margin:0;
    margin-left:100px;
    letter-spacing: 1px;
    font-size: 40px;
}
header li{
    display: flex;
    gap:40px;
}
header li a{
    font-size: 20px;
    text-decoration: none;
}
header li a:hover{
    color: red;
}
header li a.active{
    color: red;
}
main, section {
    padding-top: 70px; /* Adjusted to the height of the header */
}

#beranda{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#beranda img{
    width: 500px;
    height: 500px;
}
#beranda div{
    margin-left:75px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 65%;
}
#beranda div h1{
    color: var(--biru-tua);
    margin: 0;
    width: 10%;
    font-size: 70px;
}
#beranda div span{
    color: var(--biru-tua);
    margin-top: 50px;
    font-size: 20px;
}
#beranda div button{
    margin-top: 75px;
    width:225px;
    height: 70px;
    background-color: var(--biru-tua);
    display: flex;
    align-items: center;
    justify-content:center;
    gap:10px;
    border-radius: 15px;
    border-width: 0px;
    cursor: pointer;
}
#beranda div button img{

    width: 40px;
    height: 40px;
}
#beranda div button span{
    color: #fff;
    text-wrap: nowrap;
    margin-top: 0px;
}

section ul a:active{
    color: var(--biru-tua);
}
/* #artikel{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
} */
#artikel div, #artikel ul{
    display: flex;
}
#artikel div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
#artikel div h1, #artikel div a{
    margin: 0px;
}
#artikel div h1{
    font-size: 26px;
}
#artikel div a{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--biru-tua);
}
#artikel div a img{
    width: 25px;
    height: 25px;
}
#artikel ul{
    margin: 0px;
    margin-top: 20px;
    gap:20px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:50px;
    display: flex;
}
#artikel ul li{
    position: relative;
    display: flex;
    width:31%;
    left:0%;
    border-radius: 10px;
    background-color: #fff;
}
#artikel ul li:not(:has(.card-loading)):hover {
    background-color: var(--biru-tua);
}
#artikel ul li:hover span,
#artikel ul li:hover h3,
#artikel ul li:hover p{
    color: #fff;
}
#artikel ul li .card-loading{
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* for skeleton */
.card-loading div,  .card-loading span,  .card-loading h3,  .card-loading p {
    background: linear-gradient(135deg, #b9b9b9 0%, #cdcdcd 52%, #fff 52%, #fff 54%, #cdcdcd 54%, #b9b9b9 100%);
    background-size: 180% 180%;
    background-position: 100% 100%;
    animation: 2.5s shine ease-in infinite;
    animation-delay: 0.25s;
}
@keyframes shine {
    to {
        background-position: 0% 0%;
    }
}
/* for img */
.card-loading div{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 255px;
}
/* for date */
.card-loading span{
    width: 35%;
    margin-top: 20px;
    margin-left: 60%;
    height: 15px;
}
/* for header */
.card-loading h3,  .card-loading p{
    margin: 0px;
    position: relative;
}
.card-loading h3{
    left: 5%;
    width: 80%;
    height: 40px;
    margin-top: 19px;
}
/* for category */
.card-loading p{
    left: 5%;
    width: 30%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#artikel ul li a{
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
#artikel ul li a img{
    object-fit: cover;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 60%;
}
#artikel ul li a span.tanggal{
    width: 93%;
    text-align: right;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    right: 0px;
}
#artikel ul li a h3, #artikel ul li a p{
    margin: 0px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#artikel ul li a h3{
    font-size: 20px;
    margin-top: 20px;
}
#artikel ul li a p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#kategori{
    display: flex;
    margin-top: 60px;
    margin-bottom: 150px;
    flex-direction: column;
}
#kategori div, #kategori ul{
    display: flex;
}
#kategori div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
#kategori div h1, #kategori div a{
    margin: 0px;
}
#kategori div h1{
    font-size: 26px;
}
#kategori div a{
    position: relative;
    display: flex;
    align-items: center;
    gap:5px;
    right:0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--biru-tua);
}
#kategori div a img{
    width: 25px;
    height: 25px;
}
#kategori ul{
    margin: 0px;
    margin-top: 20px;
    gap:20px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:50px;
    display: flex;
}
#kategori ul li{
    position: relative;
    display: flex;
    width:31%;
    left:0%;
    border-radius: 10px;
    background-color: #fff;
}
#kategori ul li:not(:has(.card-loading)):hover {
    background-color: var(--biru-tua);
}
#kategori ul li:hover span,
#kategori ul li:hover h3,
#kategori ul li:hover p{
    color: #fff;
}
#kategori ul li .card-loading{
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#kategori ul li a{
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
#kategori ul li a img{
    object-fit: cover;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 60%;
}
#kategori ul li a span.tanggal{
    width: 93%;
    text-align: right;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    right: 0px;
}
#kategori ul li a h3, #kategori ul li a p{
    margin: 0px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#kategori ul li a h3{
    font-size: 20px;
    margin-top: 20px;
}
#kategori ul li a p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: var(--biru-tua);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}