:root{
    --biru-tua: #201658;
    --abu-abu: #B7C9F2;
}
body{
    user-select: none;
}
#modalDelete {
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(179, 179, 179, 0.4);
    /* background-color: rgba(255, 255, 255, 0.4); */
    backdrop-filter: blur(1px);
}
#modalDelete form{
    background-color: var(--biru-tua);
    position: absolute;
    z-index: 100;
    width: 29%;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    animation:none;
}
#modalDelete form input{
    display: none;
}
#modalDelete form h1, #modalDelete form p{
    margin:0;
}
#modalDelete form h1{
    margin-top: 3%;
    width: 85%;
    position: relative;
    left: 5%;
    font-size: 21px;
    font-weight: 700;
    color:white;
}
#modalDelete form i{
    position: absolute;
    right:4%;
    top:7%;
    color:white;
    font-size: 19px;
    cursor: pointer;
}
#modalDelete form p{
    margin-top: 2%;
    color:white;
    width: 88%;
    height: 40px;
    position: relative;
    left: 5%;
    font-size: 14px;
}
#modalDelete form div{
    margin-top: 5%;
    width: 88%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#modalDelete form div button{
    font-size: 20px;
    width: 25%;
    height: 40px;
    outline: none;
    border: none;
    color:white;
    border-radius: 6px;
}
#modalDelete form div button:nth-child(1){
    background-color: var(--abu-abu);
}
#modalDelete form div button:nth-child(2){
    background-color: red;
}
@keyframes showModalDelete{
    to {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes closeModalDelete{
    to {
        top: -50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
    #modalDelete form{
        width: 34%;
        border-radius: 10px;
    }
    #modalDelete form h1{
        width: 79%;
        margin-top: 5%;
        left: 6%;
        font-size: 16px;
    }
    #modalDelete form i{
        right:4%;
        top:8%;
        font-size: 14px;
    }
    #modalDelete form p{
        margin-top: 2%;
        width: 79%;
        left: 6%;
        position: relative;
        height: 30%;
        font-size: 13px;
    }
    #modalDelete form div{
        margin-top: 10%;
        width: 90%;
        height: 25%;
        left: 50%;
        transform: translateX(-50%);
    }
    #modalDelete form div button{
        width: 30%;
        font-size: 16px;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    #modalDelete form{
        width: 40%;
        border-radius: 10px;
    }
    #modalDelete form h1{
        margin-top: 5%;
        left: 6%;
        width: 79%;
        font-size: 14px;
    }
    #modalDelete form i{
        right:4%;
        top:8%;
        font-size: 12px;
    }
    #modalDelete form p{
        margin-top: 2%;
        width: 79%;
        left: 6%;
        position: relative;
        height: 30%;
        font-size: 11px;
    }
    #modalDelete form div{
        margin-top: 7%;
        width: 90%;
        height: 25%;
        left: 50%;
        transform: translateX(-50%);
    }
    #modalDelete form div button{
        width: 25%;
        font-size: 13px;
    }
}
@media screen and (max-width: 500px) {
    #modalDelete form{
        width: 41%;
        border-radius: 10px;
    }
    #modalDelete form h1{
        margin-top: 5%;
        left: 6%;
        font-size: 12px;
    }
    #modalDelete form i{
        right:4%;
        top:8%;
        font-size: 10px;
    }
    #modalDelete form p{
        margin-top: 2%;
        width: 82%;
        left: 6%;
        position: relative;
        height: 30%;
        font-size: 9px;
    }
    #modalDelete form div{
        margin-top: 7%;
        width: 90%;
        height: 25%;
        left: 50%;
        transform: translateX(-50%);
    }
    #modalDelete form div button{
        width: 30%;
        font-size: 13px;
    }
}