:root{
    --biru-tua: #201658;
    --abu-abu: #B7C9F2;
}
body{
    user-select: none;
}
#iconPass{
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    width: max-content;
    cursor: pointer;
}
#iconPass img{
    width: 23px;
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
form .crow {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
form .crow:nth-child(2), form .crow:nth-child(3) {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
form .crow:nth-child(2) div, form .crow:nth-child(3) div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
form .crow:nth-child(2) div:nth-child(1) {
    width: 25%;
}
select {
    width: 100%;
}
form .crow:nth-child(2) div:nth-child(2), form .crow:nth-child(3) div{
    width: 100%;
}
form .crow:nth-child(3) {
    width: 100%;
}
form .crow:nth-child(4) {
    width: 100%;
    margin-bottom: 10px;
}
form .crow:nth-child(4) textarea {
    min-height: 120px;
    resize: none;
}
form .crow:last-child {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    margin-top:10px;
}
form .crow:last-child a,
form .crow:last-child button {
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:none;
    height: 40px;
}
form .crow:last-child a{
    width: 100px;
    font-size: 18px;
}
form .crow:last-child button{
    font-size: 20px;
    width: 130px;
}
form .crow:last-child button img{
    width: 25px;
    height: 25px;
}
.img {
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 7%;
    width: 22%;
    height: 43%;
    border: 4px dashed #b1b1b1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img #icon {
    width: 60px;
    height: 60px;
}
.img #file {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
label,
select {
    font-weight: 600;
    white-space: nowrap;
}
label {
    font-size: 17px;
}
select {
    font-size: 16px;
}
option {
    text-align: center;
}
form .crow input,
form .crow select,
form .crow textarea {
    border-width: 1px;
    border-radius: 9px;
}
form .crow input,
form .crow select {
    height: 30px;
}
form .crow input,
form .crow textarea {
    padding-left: 8px;
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    form .crow {
        width: 70%;
    }
    form .crow:nth-child(2), form .crow:nth-child(3) {
        gap: 15px;
    }
    form .crow:nth-child(2) div:nth-child(1) {
        width: 28%;
    }
    form .crow:nth-child(2) div:nth-child(2){
        width: 78%;
    }
    label,
    form .crow input,
    form .crow textarea{
        font-size: 15px;
    }
    form .crow select{
        font-size: 13px;
    }
    form .crow input,
    form .crow select {
        height: 28px;
    }
    form .crow input,
    form .crow textarea {
        padding-left: 6px;
    }
    form .crow input,
    form .crow select,
    form .crow textarea {
        border-radius: 8px;
    }
    form .crow:last-child {
        gap: 18px;
    }
    form .crow:last-child a,
    form .crow:last-child button{
        height: 37px;
    }
    form .crow:last-child a{
        width: 90px;
        font-size: 16px;
    }
    form .crow:last-child button{
        font-size: 18px;
        width: 110px;
    }
    form .crow:last-child button img{
        width: 20px;
        height: 20px;
    }
    .img {
        width: 28%;
        height: 43%;
        border-radius: 7px;
    }
    .img #icon {
        width: 55px;
        height: 55px;
    }
    .img span{
        width: 92%;
        font-size: 13px;
        text-align: center;
    }
    .img #file {
        border-radius: 7px;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    form .crow {
        width: 64%;
    }
    form .crow:nth-child(2) div:nth-child(1) {
        width: 34%;
    }
    form .crow:nth-child(2) div:nth-child(2) {
        width: 70%;
    }
    form .crow:nth-child(2), form .crow:nth-child(3) {
        gap: 13px;
    }
    label,
    form .crow input,
    form .crow textarea{
        font-size: 13px;
    }
    form .crow select{
        font-size: 12px;
    }
    form .crow input,
    form .crow select {
        height: 28px;
    }
    form .crow input,
    form .crow textarea {
        padding-left: 5px;
    }
    form .crow input,
    form .crow select,
    form .crow textarea {
        border-radius: 8px;
    }
    form .crow:last-child a,
    form .crow:last-child button{
        height: 37px;
    }
    form .crow:last-child a{
        width: 90px;
        font-size: 16px;
    }
    form .crow:last-child button{
        font-size: 18px;
        width: 110px;
    }
    form .crow:last-child button img{
        width: 20px;
        height: 20px;
    }
    .img {
        width: 33%;
        height: 42%;
        border-width: 3px;
        border-radius: 7px;
    }
    .img #icon {
        width: 42px;
        height: 42px;
    }
    .img span{
        width: 92%;
        font-size: 12px;
        text-align: center;
    }
    .img #file {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 500px) {
    .d-flex{
        margin-bottom:17px;
        border-radius: 7px;
    }
    form{
        gap:5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    form .crow {
        width: 60%;
    }
    label{
        font-size: 12px;
    }
    form .crow:nth-child(2) div:nth-child(1) {
        width: 50%;
    }
    form .crow:nth-child(2) div:nth-child(2) {
        width: 50%;
    }
    form .crow:nth-child(2), form .crow:nth-child(3) {
        gap: 7px;
    }
    form .crow input,
    form .crow textarea{
        font-size: 11px;
    }
    form .crow select{
        font-size: 11px;
    }
    form .crow input,
    form .crow select {
        height: 28px;
    }
    form .crow input,
    form .crow textarea {
        padding-left: 5px;
    }
    form .crow input,
    form .crow select,
    form .crow textarea {
        border-radius: 8px;
    }
    form .crow:last-child {
        gap: 10px;
    }
    form .crow:last-child a,
    form .crow:last-child button{
        height: 30px;
    }
    form .crow:last-child a{
        width: 70px;
        font-size: 12px;
    }
    form .crow:last-child button{
        font-size: 14px;
        width: 95px;
    }
    form .crow:last-child button img{
        width: 18px;
        height: 18px;
    }
    .img {
        width: 35%;
        height: 44%;
        border-width: 3px;
        border-radius: 7px;
    }
    .img #icon {
        width: 30px;
        height: 30px;
    }
    .img span{
        font-size: 9px;
        text-align: center;
    }
    .img #file {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
}