body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    min-height: 100vh;
    padding: 30px;
}
#daftar-artikel{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#daftar-artikel div, #daftar-artikel ul{
	display: flex;
    flex-wrap: wrap;
}
#daftar-artikel div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
#daftar-artikel div h1, #daftar-artikel div a{
	margin: 0px;
}
#daftar-artikel div h1{
    font-size: 26px;
}
#daftar-artikel div select{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--biru-tua);
}
#daftar-artikel ul{
    margin: 0px;
    margin-top: 20px;
    gap:20px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:50px;
}
#daftar-artikel ul .skeleton{
    margin-bottom: 5px;
    width:31%;
    left:0%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    animation: anisSekleton 2s linear infinite alternate;
}
@keyframes aniSkeleton{
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }

}
#daftar-artikel ul .card{
    margin-bottom: 5px;
    width:31%;
    left:0%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
#daftar-artikel ul .card:hover{
    background-color: var(--biru-tua);
    color: #fff;
}
#daftar-artikel ul .card img{
    object-fit: cover;
    position: relative;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 60%;
}
#daftar-artikel ul .card span.tanggal{
    width: 93%;
    text-align: right;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    right: 0px;
}
#daftar-artikel ul .card h3, #daftar-artikel ul .card p{
    margin: 0px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#daftar-artikel ul .card h3{
    font-size: 20px;
    margin-top: 20px;
}
#daftar-artikel ul .card p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@keyframes shine {
	to {
		background-position-x: -200%;
	}
}