:root{
    --biru-tua: #201658;
}
body{
    position: relative;
    margin: 0px;
    user-select: none;
    color: var(--biru-tua);
    font-family: 'Roboto', sans-serif;
}
#daftar-artikel{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#daftar-artikel div, #daftar-artikel ul{
	display: flex;
    flex-wrap: wrap;
}
#daftar-artikel div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: space-between;
}
#daftar-artikel div h1, #daftar-artikel div a{
	margin: 0px;
}
#daftar-artikel div h1{
    font-size: 26px;
}
#daftar-artikel div select{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--biru-tua);
}
#daftar-artikel ul{
    margin: 0px;
    margin-top: 20px;
    gap:20px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:50px;
    display: flex;
}
#daftar-artikel ul li{
    position: relative;
    display: flex;
    width:31%;
    left:0%;
    border-radius: 10px;
    background-color: #fff;
}
#daftar-artikel ul li:not(:has(.card-loading)):hover {
    background-color: var(--biru-tua);
}
#daftar-artikel ul li:hover span,
#daftar-artikel ul li:hover h3,
#daftar-artikel ul li:hover p {
    color: #fff;
}
#daftar-artikel ul li .card-loading{
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* for loading */
.card-loading div,  .card-loading span,  .card-loading h3,  .card-loading p {
    background: linear-gradient(135deg, #b9b9b9 0%, #cdcdcd 52%, #fff 52%, #fff 54%, #cdcdcd 54%, #b9b9b9 100%);
    background-size: 180% 180%;
    background-position: 100% 100%;
    animation: 2.5s shine ease-in infinite;
    animation-delay: 0.25s;
}
@keyframes shine {
    to {
        background-position: 0% 0%;
    }
}
/* for img */
.card-loading div{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 255px;
}
/* for date */
.card-loading span{
    width: 35%;
    margin-top: 20px;
    margin-left: 60%;
    height: 20px;
}
/* for header */
.card-loading h3,  .card-loading p{
    margin: 0px;
    position: relative;
}
.card-loading h3{
    left: 5%;
    width: 80%;
    height: 45px;
    margin-top: 19px;
}
/* for category */
.card-loading p{
    left: 5%;
    width: 30%;
    height: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

#daftar-artikel ul li a{
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
#daftar-artikel ul li a img{
    object-fit: cover;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 60%;
}
#daftar-artikel ul li a span.tanggal{
    width: 93%;
    text-align: right;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
    right: 0px;
}
#daftar-artikel ul li a h3, #daftar-artikel ul li a p{
    margin: 0px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#daftar-artikel ul li a h3{
    font-size: 20px;
    margin-top: 20px;
}
#daftar-artikel ul li a p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#modalDelete {
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}
#modalDelete form{
    background-color: white;
    position: absolute;
    width: 40%;
    height: 26%;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
    animation:none;
}
#modalDelete form input{
    display: none;
}
#modalDelete form h1, #modalDelete form p{
    margin:0;
}
#modalDelete form h1{
    margin-top: 2%;
    width: 90%;
    font-size: 30px;
    font-weight: 700;
    color:black;
}
#modalDelete form i{
    position: absolute;
    right:3%;
    top:5%;
    color:black;
    font-size: 20px;
}
#modalDelete form p{
    margin-top: 2%;
    color:black;
    width: 90%;
    font-size: 17px;
}
#modalDelete form div{
    margin-top: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 30%;
}
#modalDelete form div button{
    font-size: 20px;
    width: 30%;
    height: 100%;
    outline: none;
    border: none;
    color:white;
    border-radius: 9px;
}
#modalDelete form div button:nth-child(1){
    background-color: #b1b1b1;
}
#modalDelete form div button:nth-child(2){
    background-color: red;
}
@keyframes showModalDelete{
    to {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes closeModalDelete{
    to {
        top: -50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (min-width: 615px) and (max-width: 1000px) {
    #modalDelete form{
        height: 22%;
    }
    #modalDelete form h1{
        margin-top: 3%;
        font-size: 20px;
    }
    #modalDelete form i{
        right:4%;
        top:5%;
        font-size: 18px;
    }
    #modalDelete form p{
        margin-top: 1%;
        font-size: 13px;
    }
    #modalDelete form div{
        margin-top: 8%;
        width: 90%;
        height: 25%;
    }
    #modalDelete form div button{
        font-size: 17px;
    }
}
@media screen and (min-width: 400px) and (max-width: 615px) {
    #modalDelete form{
        height: 20%;
    }
    #modalDelete form h1{
        width: 80%;
        margin-top: 5%;
        font-size: 13px;
    }
    #modalDelete form i{
        right:5%;
        top:7%;
        font-size: 13px;
    }
    #modalDelete form p{
        width: 80%;
        margin-top: 2%;
        font-size: 11px;
    }
    #modalDelete form div{
        margin-top: 8%;
        width: 80%;
        height: 25%;
    }
    #modalDelete form div button{
        font-size: 11px;
        width: 30%;
        height: 90%;
    }
}
@media screen and (max-width: 400px) {
    #modalDelete form{
        height: 20%;
    }
    #modalDelete form h1{
        width: 80%;
        margin-top: 5%;
        font-size: 13px;
    }
    #modalDelete form i{
        right:5%;
        top:7%;
        font-size: 13px;
    }
    #modalDelete form p{
        width: 80%;
        margin-top: 2%;
        font-size: 11px;
    }
    #modalDelete form div{
        margin-top: 8%;
        width: 80%;
        height: 25%;
    }
    #modalDelete form div button{
        font-size: 11px;
        width: 30%;
        height: 90%;
    }
}